/* style.css */

:root {
    --bg-color: #F5F3EE;
    --main-color : #D4AB93;
    --sub-color1 : #A0D3F8;
    --sub-color2 : #F8A0A5;
    --sub-color3 : #f0ebe3e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {width: 100%; height: 100%;}
.content{
    height: 100vh;
}

body {
    font-family: 'Hahmlet', serif;
    /* 컴퓨터에서도 모바일 화면처럼 보이게 최댓값지정 */
    max-width: 416px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HOME */

#home {
    background: var(--bg-color);
}

#home > img {
    width: 100%;
    height: 66vh;
}

#home > .main-text {
    width: 100%;
    height: 34vh;
    text-align: center;
    padding: 2vh;
}

.main-text > .main-title {
    margin: 2.4vh auto;
    letter-spacing: 0.35em;
    font-size: 1.2em;
    font-weight: 400;
}

.bar1 {
    height: 3px;
    width: 10%;
    background: var(--main-color);
    margin: 0 auto;
    margin-bottom: 2.4vh;
}

.main-text > .date {
    margin-bottom: 1.7vh;
    font-size: 0.9em;
    font-weight: 400;
}

/* invitation */
#invitation {
    width: 100%;
    height: 100%;
    background: var(--sub-color3);
}

.title {
    text-align: center;
}

.title > img {
    margin-top: 8vh;
    margin-bottom: 1.2vh;
}

.title > p {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--main-color);
    letter-spacing: 0.3em;
}

#invitation > .invitation-text {    
    margin-top: 8vh;
    line-height: 2.4em;
    margin-bottom: 5vh;
    text-align: center;
}

#invitation > .bar1 {
    margin-bottom: 5vh;
}

#invitation > .invitation-footer > p{
    font-size: 1em;
    text-align: center;
    font-weight: 400;
}

#invitation > .invitation-footer > p > span{
    font-size: 1.2em;
    font-weight: 400;
}

#invitation > .invitation-footer {
    padding-bottom: 4.7vh;
}

/* call */

#call {
    width: 100%;
    height: 100%;
}

#call > .calling {
    width: 300px;
    height: 7.3vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#call > .calling > p {
    font-size: 16px;
    font-weight: 400;
    margin-right: 36px;
}

#call > .calling > .call-icon {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

#call > .parents-call {
    width: 100%;
    height: 50vh;
}

#call > .parents-call > .parents-call-box {    
    width: 100%;
    height: 7vh;    
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--bg-color);    
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#call > .parents-call > .parents-call-box > h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.mw-parents {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.call-icon > a > img {
    width: 7vh;
    height: 7vh;
}

.mw-parents > .box {
    width: 42.2%;
    height: 33vh;
    background: var(--bg-color);
    text-align: center;
}

.box > h1 {
    font-size: 0.9em;
    font-weight: 400;
    color: #041961;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
}
.box > .parents {
    margin-bottom: 1.2vh;
}

.box > .parents > p {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 1.2vh;
}

.box > .parents > p > span{
    font-size: 1.2em;
}

.box > .parents > .call-icon {
    display: flex;
    justify-content: space-evenly;
}

/* PHOTO GALLERY */
#photogallery {
    width: 100%;    
    height: 100%;
    background: var(--sub-color3);
    padding-bottom: 1vh;
}

#photogallery > figure {
    width: 100%;
    height: 63.05vh;
    background: var(--bg-color);
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-photo > img {
    width: 100%;
    height: 49vh;
    object-fit: cover;
    display: block;
}

figure > .img-list {
    display: flex;
    justify-content: space-between;
}

figure > .img-list > li {
    width: calc((100% - 30px / 4));
    height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
}

figure > .img-list > li:first-child {
    padding-left: 10px;
}

figure > .img-list > li > a > img{
    width: 100%;
    height: 92px;
    object-fit: cover;
}

#photogallery > p {
    text-align: center;
    margin-bottom: 20px;
}

#photogallery > .bar1 {
    margin-bottom: 40px;
}

/* location 오시는 길 */
#location {
    width: 100%;
    height: 100%;
}

#location > .title {
    margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 33vh;
    margin-bottom: 30px;
}

#map > iframe {
    width: 100%;
    height: 33vh;
}

.text-group {
    margin-left: 30px;
    margin-right: 30px;
}

#location > .text-group > .box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#location > .text-group > .box1 > .text > h1 {
    font-size: 18px;
    font-weight: 400;
}

#location > .text-group > .box1 > .text > p {
    font-size: 16px;
    font-weight: 400;
}

.bar2 {
    background-color: var(--main-color);
    width: 95%;
    height: 1px;
    display: flex;
    justify-content: center;
}

#location > .text-group > .box2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#location > .text-group > .box2 > h1 {
    font-size: 16px;
    font-weight: 400;
}

#location > .text-group > .box2 > p {
    font-size: 14px;
    font-weight: 400;
}

/* 마음 전하기 */

#account-number {
    width: 100%;
    height: 100%;
}

#account-number > .title {
    margin-bottom: 30px;
}

#account-number > p {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

#account-number > .mw-box {
    margin: 50px 30px;
}

#account-number > .mw-box > p {
    font-weight: 400;
    font-size: 18px;
}

.m-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.mw-box > .m-box > .box1 {
    width: 225px;
    height: 58px;
    border-radius: 30px;
    background: var(--sub-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mw-box > .m-box > .box1 {
    color: #fff;
}

.w-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.mw-box > .w-box > .box1 {
    width: 225px;
    height: 58px;
    border-radius: 30px;
    background: var(--sub-color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mw-box > .w-box > .box1 {
    color: #fff;
}

#account-number > .closing > p {
    font-weight: 100;
    font-style: 23px;
    text-align: center;
}

.closing > p > span {
    font-size: 15px;
    color: var(--main-color);
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3em;
}

.closing {
    margin-bottom: 8vh;
}

.snsbox {
    width: 100%;
    height: 30vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
